<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://houknowhow.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>houknowhow.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HouKnowHow</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HouKnowHow</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HousAppDefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:q4u6iifzyj.database.windows.net,1433;Initial Catalog=HouKnowHow_db;User ID=doggydangerdb@q4u6iifzyj;Password=doggydanger2015!" Name="Data Source=tcp:q4u6iifzyj.database.windows.net,1433;Initial Catalog=HouKnowHow_db;User Id=doggydangerdb@q4u6iifzyj;Password=doggydanger2015!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="HouApp_Web.Data.ApplicationDbContext, HouApp_Web.Data" MigrationConfiguration="HouApp_Web.Data.Migrations.Configuration, HouApp_Web.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)HousAppDefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:q4u6iifzyj.database.windows.net,1433;Initial Catalog=HouKnowHow_db;User Id=doggydangerdb@q4u6iifzyj;Password=doggydanger2015!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>