

<div class="container">
    <h1 class="text-center about-header">Meet the HouKnowHow Team!</h1>
    <br />
    <hr />


    <!-- ABOUT ROW #1 -->
    <div class="row">

        <!-- bio #1 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/JonC.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Jon Cordingley</p> <small>
                    <cite title="Source Title">
                        Alignment. Accountability. Results.<br />
                        Management Consulting

                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;jon.cordingley@gmail.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/jonathancordingley">linkedin.com/in/jonathancordingley</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Houston, Texas

            </p>
        </div>


        <!-- bio #2 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/julior.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Julio Rodriguez</p>
                <small>
                    <cite title="Source Title">
                        Developer, Instructor<br />
                        CoderCamps

                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;julior@gmail.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/multimedia">linkedin.com/in/multimedia</a>
                <br /> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<a href="https://twitter.com/jhey">jhey</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Mexico City, Mexico

            </p>
        </div>


    </div>


    <hr />


    <!-- ABOUT ROW #2 -->
    <div class="row">

        <!-- bio #3 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/garima.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Garima Vyas</p> <small>
                    <cite title="Source Title">
                        Sr. GIS Developer<br />
                        LOGIC Solutions Group
                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;vyasgarima12@gmail.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/garimav">linkedin.com/in/garimav</a>
                <br /> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<a href="https://twitter.com/garimavyas">garimavyas</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Ratlam, Madhya Pradesh

            </p>
        </div>


        <!-- bio #4 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/andrew.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Andrew Bethel</p> <small>
                    <cite title="Source Title">
                        .Net Developer<br />
                        Coder Camps
                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;abethel1986@outlook.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/in/abethel86">linkedin.com/in/abethel86</a>
                <br /> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<a href="https://twitter.com/abeth86">abeth86</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Madison, Wisconsin

            </p>
        </div>


    </div>


    <hr />

    <!-- ABOUT ROW #3 -->
    <div class="row">

        <!-- bio #5 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/iphonePics 013.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Nabil Rhiati</p> <small>
                    <cite title="Source Title">
                        .Net C# Full Stack Developer<br />
                        Coder Camps
                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;rhiatinabil@gmail.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/pub/nabil-rhiati/73/665/b4">linkedin.com/pub/nabil-rhiati/73/665/b4</a>
                <br /> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<a href="https://twitter.com/nabil_uh">nabil_uh</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Fes, Morocco

            </p>
        </div>


        <!-- bio #6 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/billKnapp.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Bill Knapp</p> <small>
                    <cite title="Source Title">
                        Full Stack .NET Web Developer<br />
                        Coder Camps

                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;v1wikn@gmail.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/pub/william-knapp/b3/6b3/655">linkedin.com/pub/william-knapp/b3/6b3/655</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Pittsburgh, Pennsylvania

            </p>
        </div>


    </div>

    <hr />

    <!-- ABOUT ROW #4 -->
    <div class="row">

        <!-- bio #5 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/willhermann.JPG" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Will Hermann</p> <small>
                    <cite title="Source Title">
                        Architectural Intern<br />
                        Glassman Shoemake Maldonado Architects
                    </cite>
                </small>
            </blockquote>
            <p>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;William.j.hermann@gmail.com
                <br /> <i class="glyphicon glyphicon-globe"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/pub/will-hermann/49/503/1a">linkedin.com/pub/will-hermann/49/503/1a</a>
                <br /> <i class="glyphicon glyphicon-map-marker"></i>&nbsp;&nbsp;Houston, Texas

            </p>
        </div>


        <!-- bio #6 -->
        <div class="col-sm-2 col-md-2">
            <img src="../../img/profiles/gina.jpg" alt="" class="img-rounded img-responsive" />
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Gina Fantoni</p> <small>
                    <cite title="Source Title">
                        Architectural Intern<br />
                        WHR Architects
                    </cite>
                </small>
            </blockquote>
        </div>


    </div>

    <br />
    <br />
    <hr />

    <h1 class="text-center about-header">Sponsors</h1>

    <div class="row">
        <div class="col-md-5">
            <hr />
            <p text-center>
                Bright Water Bottle<br />
                <a href="http://brightwaterbottle.com">brightwaterbottle.com </a>
                <br /><br />
                <ol>
                    <li>Safety: Reduce the number of Bicycle Accidents!
                        <ul>
                            <li>Bicycle riders, and joggers will increase their visibility while using Bright Water Bottle since it is illuminated, and can send audible signals to the user and other people will be  aware of your presence.</li>
                        </ul>
                    </li>
                    <li>Awareness: With Bright water bottle, you will be able to:
                        <ul>
                            <li>Send alerts from your phone to get proximity/GPS, missed calls and received SMS</li>
                            <li>Receive alerts from internet, such as weather, proximity alerts, games, and promotions.</li>
                        </ul>
                    </li>
                    <li>Recycle: Stop Plastic Waste!
                        <ul>
                            <li>Don't Landfill, REFILL!</li>
                            <li>Americans buy an estimated 42.6 billion single-serving (1 liter or less) plastic water bottles each year. Almost eight out of ten end up in a landfill or incinerator. Hundreds of millions end up as litter on roads, beaches or in streams and other waterways. Taxpayers pay hundreds of millions of dollars each year in disposal and litter cleanup costs.</li>
                            <li>Bright Water Bottle is a reusable durable, leak-proof, and easy to use water bottle, and BPA free.</li>
                        </ul>
                    </li>
                </ol>
            </p>
        </div>
        <div class="container">
            <img src="../img/bwb/bwb_promo_treo.jpg" class="col-md-4 col-md-offset-1 img-circle img-responsive" alt="BWB Promo" /><br /><br /><br />
        </div>
    </div>








    <hr />


    <br />

</div>