<div class="container" ng-controller="HomeController">
    <div class="col-md-4 col-md-offset-4">
        <h2>
            Login/Register
        </h2>
        <div ng-controller="HomeController">
            <div ng-show="!status.loggedin" class="form-group">
                <label class="control-label">Username</label>
                <input class="form-control" ng-model="user.username" placeholder="Enter username..." /> <br />
                <label class="control-label">Password</label>
                <input class="form-control" ng-model="user.password" placeholder="Enter password..." /> <br />
                <button class="btn btn-info" ng-click="login()">Log In</button>
                <button class="btn btn-success" ng-click="register()">Register</button>
            </div>
            <div ng-show="status.loggedin">
                <h1>Welcome {{userInfo.Username}}</h1>
                <h3>Your email is: {{userInfo.Email}}</h3>
                <button class="btn btn-danger" ng-click="logout()">Log Out</button>
            </div>
        </div>
    </div>
</div>